.image {
  height: 200px;
  width: fit-content;
}

.container {
  margin: 20px;
  /* border: solid; */
  padding: 30px;
}

.cardImage {
  margin: 20px;
  /* border: solid; */
  padding: 30px;
  width: 100px;
  height: 200px;
  object-fit: fill;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}

.card {
  font-family: Georgia, "Times New Roman", Times, serif;
  border: solid;
  padding: 30px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  margin: 20px;
}
